

#ClusterModeWidget, #NotesView, #ProjectView {
    background-color: #FCF7F3;
}

/* Style global pour NoteDetailWidget */
#NoteDetailWidget {
    background-color: #EC831E;
    border-radius: 6px;
}