

#ClusterModeWidget, #NotesView, #ProjectView {
    background-color: #FCF7F3;
}

/* Style global pour NoteDetailWidget */
#NoteDetailWidget, #PriseDeNote {
    background-color: #EC831E;
    border-radius: 6px;
}


#Keyword_Badge {
    background-color: #EC831E;
    color: #FCF7F3;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid #FCF7F3;
}


#Note_Layout {
    background-color: #EC831E;
    border-radius: 6px;
}