
/* ✍️ Champs de texte */
QLineEdit, QTextEdit, QComboBox {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 3px;
}

QLineEdit#search_input {
    border: 1px solid #000000;
}


#Input_Default {
    background-color: #FFFFFF;
    color: #2B2B2B;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 14px;
}

#Input_Default::placeholder {
    color: #999999;
    font-style: italic;
}
