

QLineEdit::placeholder {
    color: #999999;
    font-style: italic;
}



#Input_Research, #Input_Multiline, #Input_Multiline_Prisedenote {
    background-color: #EC831E;
    color: #FCF7F3;
    border-radius: 6px;
    font-size: 12px;
    font-weight: medium;
}

#Input_Research {
    padding: 0px 10px;
}

#Input_Multiline, #Input_Multiline_Prisedenote {
    padding: 8px;
    border-radius: 6px;
    font-weight: medium;
}
