

QLineEdit, #Input_Multiline {
    background-color: #FFFFFF;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
    border-radius: 6px;
    padding: 12px 10px;
    font-size: 14px;
}

QLineEdit::placeholder {
    color: #999999;
    font-style: italic;
}

QLineEdit:focus , #Input_Multiline:focus {
    border: 1px solid #2B2B2B;
}


#Input_Default {
    border: 1px solid #CCCCCC;
}
